[Unit]
Description=Shop System Frontend

[Service]
User=shop
Group=shop
Type=simple
ExecStart=/usr/bin/ktt-shopsystem-frontend
ExecStartPre=/bin/chvt 7
ExecStartPre=/bin/setupcon --current-tty --font-only
StandardInput=tty
StandardOutput=tty
TTYPath=/dev/tty7
TTYReset=yes
TTYVHangup=yes
TTYVTDisallocate=yes

[Install]
WantedBy=multi-user.target
