{% extends "base" %}
{% block title %}Error{% endblock title %}
{% block content %}
	<div class="container">
		<h2>Error</h2>

		<div class="alert alert-danger" role="alert">
			<b>{{ errmsg | safe }}</b>
		</div>
	</div>
{% endblock content %}
